<ion-content class="ion-padding">
  <div class="login-container">
    
    <h1 class="ion-text-center">Smart Grocery</h1>
    <p class="ion-text-center ion-padding-bottom">Sign in to continue</p>

    <form [formGroup]="signUpFrom" (ngSubmit)="submitForm()" novalidate>
      <ion-list lines="full" class="ion-no-margin">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input 
            formControlName="email" 
            type="email" 
            autocomplete="email"
            inputmode="email">
          </ion-input>
        </ion-item>
        <div *ngIf="isSubmitted && errorControl['email'].errors" class="error-message">
          <span *ngIf="errorControl['email'].errors['required']">Email is required.</span>
          <span *ngIf="errorControl['email'].errors['email']">Please enter a valid email.</span>
        </div>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input 
            formControlName="password" 
            [type]="passwordType"
            autocomplete="current-password">
          </ion-input>
          <ion-icon 
            slot="end" 
            [name]="passwordIcon" 
            class="password-toggle" 
            (click)="togglePasswordVisibility()">
          </ion-icon>
        </ion-item>
        <div *ngIf="isSubmitted && errorControl['password'].errors" class="error-message">
          <span *ngIf="errorControl['password'].errors['required']">Password is required.</span>
          <span *ngIf="errorControl['password'].errors['minlength']">Password must be at least 6 characters.</span>
        </div>
      </ion-list>

      <ion-button 
        expand="block" 
        shape="round" 
        color="primary" 
        type="submit" 
        class="ion-margin-top"
        [disabled]="!signUpFrom.valid">
        Sign In
      </ion-button>
    </form>
  </div>
</ion-content>