/* login.component.css */
/* Component-specific styles */
h1 {
  margin-bottom: 8px;
  font-weight: 700;
  color: var(--ion-color-dark);
}

.signup-prompt {
  margin-top: 32px;
}

.signup-prompt p {
  color: var(--ion-color-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}