.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Component-specific styles */
h1 {
  margin-bottom: 8px;
  font-weight: 700;
  color: var(--ion-color-dark);
}

/* Component-specific styles can be added here */